<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            EXCLUIR PRODUTO
        </h1>
  
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if}

                    <div class="box-body">
                        <div class="form-group">
                            <label>Nº do Contrato: <strong style="font-weight: 600; ">{$numero_contrato}</strong> </label> 
                        </div>
                        <div class="form-group">
                            <label>Contratado: <strong style="font-weight: 600; ">{$contratado}</strong> </label>
                        </div>


                        <form action="/produto/delete"  method="post" id="produto" name="produto"  novalidate class="form-horizontal">


                            <input type="hidden" id="numerocontrato" name="numerocontrato" value='{$idcontrato}'>
                            <input type="hidden" id="idproduto" name="idproduto" value='{$idproduto}'>
                            <!-- Text input-->
                            <div class="form-group" >
                                <label class="col-md-2 control-label" >Entrada Produto</label>

                                <div class="col-md-2 input-group date" data-provide="datepicker">
                                    <input disabled style="width: 150px;" type="text" value="{$dataEntrada}" required="" class="form-control" id="dt_entrada_produto" name="dt_entrada_produto">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>

                                    </div>

                                </div>
                                <div style="width: 50%; margin-left: 10%;" ng-show="produto.dt_entrada_produto.$error.required && produto.dt_entrada_produto.$touched" class="alert danger">Por favor, informa a data de entrada</div>

                            </div>



                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Saída Produto</label>
                                <div class="col-md-2 input-group date" data-provide="datepicker">
                                    <input disabled style="width: 150px;" type="text" value="{$dataSaida}" required="" class="form-control" id="dt_saida_produto" name="dt_saida_produto">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div style="width: 50%; margin-left: 10%;" ng-show="produto.dt_saida_produto.$error.required && produto.dt_saida_produto.$touched" class="alert danger">Por favor, informa a data de saída</div>

                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Descrição do Produto</label>
                                <div class="col-md-6">

                                    <textarea disabled class="form-control" ng-minlength="20"  ng-required="true" name='descricao_produto' id="descricao_produto" rows="4"
                                              maxlength="600">{$descricao}</textarea>

                                    <div style="width: 100%;" ng-show="produto.descricao_produto.$error.required && produto.descricao_produto.$touched" class="alert danger">Por favor, realizar a descrição do produto.</div>
                                    <div ng-show="produto.descricao_produto.$error.minlength" class="alert danger">
                                        O campo deve conter pelo menos 20 caracteres de descrição do objeto.</div>
                                </div>

                            </div> 


                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Mês</label>
                                <div class="col-md-2 input-group date" data-provide="datepicker">
                                    <input disabled ng-required="true" style="width: 150px;" value="{$mesProduto}" type="text" class="form-control" id="mes_produto" name="mes_produto">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>

                                </div>
                                <div style="width: 50%; margin-left: 10%;" ng-show="produto.mes_produto.$error.required && produto.mes_produto.$touched" class="alert danger">Por favor, informa data/mês de referência</div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Início do Evento</label>
                                <div class="col-md-2 input-group date" data-provide="datepicker" style="margin-bottom: 3px;">
                                    <input disabled value="{$inicioEvento}" ng-required="true" style="width: 150px;" type="text" class="form-control" id="dt_inicio_evento" name="dt_inicio_evento">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div style="width: 50%; margin-left: 10%;" ng-show="produto.dt_inicio_evento.$error.required && produto.dt_inicio_evento.$touched" class="alert danger">Por favor, informa data inicio do evento</div>

                                <label class="col-md-2 control-label" >Término do Evento</label>
                                <div class="col-md-2 input-group date" data-provide="datepicker">
                                    <input disabled value="{$fimEvento}" ng-required="true" style="width: 150px;" type="text" class="form-control" id="dt_fim_evento" name="dt_fim_evento">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div style="width: 50%; margin-left: 10%;" ng-show="produto.dt_fim_evento.$error.required && produto.dt_fim_evento.$touched" class="alert danger">Por favor, informa data fim do evento</div>

                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Fonte de Recursos</label>
                                <div class="col-md-5">
                                    <select disabled id="fonte_recurso" ng-required="true" name="fonte_recurso" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" >
                                        <option value="{$codFonte}" selected>{$nomeFonte}</option>
                                        {loop="$fontesRecursos"}
                                        <option value="{$value.id_fonte_recurso}">{$value.nome_fonte_recurso}</option>
                                        {/loop}
                                    </select>
                                    <div ng-show="produto.fonte_recurso.$error.required && produto.fonte_recurso.$touched" class="alert danger">
                                        Por favor selecionar fonte de recurso.</div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Valor Bruto</label>
                                <div class="col-md-4">
                                    <input disabled ng-required="true" value="{$valor}" required="" id="valor_bruto" name="valor_bruto" value="" placeholder="0.000,00" class="form-control input-md" >

                                </div>
                                <div ng-show="produto.valor_bruto.$error.required && produto.valor_bruto.$touched" class="alert danger">
                                    Por favor, informa valor.</div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="submit"></label>
                                <div class="col-md-4">
                                    <button class="btn btn-danger " type="reset" onClick="history.go(-1)">Cancelar</button>
                                    <button class="btn btn-primary adiciona" type="submit">Excluir</button>
                                </div>
                            </div>

                        </form>


                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- DataTables -->






